extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug

block main

    h1(class="mb-4") Trang thùng rác 


    .card.mb-3
        .card-header Bộ lọc và Tìm kiếm
        .card-body
          .row
            .col-6
              +filter-status(filterStatus)
            .col-6
              +search(keyword)

    .card.mb-3
      .card-header Danh sách
      .card-body
        .row
          .col-8
          .col-4.text-right

        table(
          class="table table-hover table-sm"
        )
          thead
            tr
              th STT
              th Avatar
              th Họ tên
              th Phân quyền
              th Email
              th Trạng thái
              td Xóa bởi
              th Hành động

          tbody
            each item, index in records
              tr 
                td #{index+1}
                td
                  img(
                    src=item.avatar
                    alt=item.fullName
                    width="100px"
                    height="auto"
                  )
                td #{item.fullName}
                td #{item.roleTitle}
                td #{item.email}
                td
                    if (item.status === "active")
                        button(
                        link=`/${prefixAdmin}/accounts/change-status/inactive/${item.id}`
                        class="badge badge-success"
                        button-change-status
                        ) Hoạt động
                    else
                        button(
                        link=`/${prefixAdmin}/accounts/change-status/active/${item.id}`
                        class="badge badge-danger"
                        button-change-status
                        ) Dừng hoạt động
                td 
                  div #{item.deletedByFullName}
                  div #{item.deletedAtFormat}
                td
                    a(
                        class="btn btn-warning btn-sm ml-1"
                        button-restore-account = item.id
                    ) Khôi phục 

                    button(
                        class="btn btn-danger btn-sm ml-1"
                        button-permanently-delete-account = item.id
                    ) Xóa vĩnh viễn
      +pagination(pagination)